
/* ------- NAV CONTAINER/ITEMS OPEN ------ */
ul li {
  display: inline;
  margin: 5px;
}

#header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid;  
  flex-wrap: wrap; 
}

.navItem {
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  height: inherit;
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search {
  width: 95%;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 4px;
  outline: none;
}

/*  ---------NAV CONTAINER/ITEMS CLOSE ------- */ 

/*  ---------ITEM CONTAINER/ITEMS OPEN ------- */

.itemContainer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 12px;
  min-height: 18rem;
  width: 14rem;
  justify-content: center;
  -moz-box-shadow:    3px 3px 5px 4px #ccc;
  -webkit-box-shadow: 3px 3px 5px 4px #ccc;
  box-shadow:         3px 3px 5px 4px #ccc;
  overflow: hidden;
  border: none;
  background-color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.img {
  width: 100%;
  height: 100%;
}

.cardTitle {
  border-top: 1px solid;
  width: 100%;
  text-align: center;
}

.cardImg {
  max-height: 30rem;
  flex-grow: 2;
  text-align: center;
  align-items: center;
}

.title {
  font-weight: 600;
}

.singleItem {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrapper .info {
  width: 100%;
  margin-left: 10px;
}

.description {
  width: 50%;
}

/*  ---------ITEM CONTAINER/ITEMS CLOSE ------- */